:root{
    --base: #08e72d;
    --spacing: 10px;
    --blur: 10px;
    --background-color: #077099;

}

body{
    text-align: center;
    background-color: var(--background-color);
    font-size: 2rem;
    color: white;
    font-family: monospace;
   

}

img{
    
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

span{
    color:var(--base)
}

.controls-wrap{
    margin-bottom: 40px;
}

input{
    width: 100px;
}